@model IEnumerable<MovieLibrary_Project.Models.Media>

@{
    ViewData["Title"] = "Series List";
}

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Series Listing - Grid Fullwidth</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> Series listing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="topbar-filter fw">
					<p>Found <span>@Model.Count() Series</span> in total</p>
					<label>Sort by:</label>
					<select>
						<option value="popularity">Popularity Descending</option>
						<option value="popularity">Popularity Ascending</option>
						<option value="rating">Rating Descending</option>
						<option value="rating">Rating Ascending</option>
						<option value="date">Release date Descending</option>
						<option value="date">Release date Ascending</option>
					</select>
				</div>
				<div class="flex-wrap-movielist mv-grid-fw">
					
					@foreach (var series in Model)
					{
						<div class="movie-item-style-2 movie-item-style-1">
							<img src="~/images/uploads/@series.PosterPath" alt="">
							<div class="hvr-inner">
								<a href="@Url.Action("Details", "MediaLibrary", new { id = series.Id })"> Read more <i class="ion-android-arrow-dropright"></i> </a>
							</div>
							<div class="mv-item-infor">
								<h6><a href="@Url.Action("Details", "MediaLibrary", new { id = series.Id })">@series.Title</a></h6>
								<p class="rate"><i class="ion-android-star"></i><span>@series.Rating</span> /10</p>
							</div>
						</div>
					}

				</div>
				<div class="topbar-filter">
					<label>Series per page:</label>
					<select>
						<option value="range">20 Series</option>
						<option value="saab">10 Series</option>
					</select>

					<div class="pagination2">
						<span>Page 1 of 2:</span>
						<a class="active" href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">...</a>
						<a href="#">78</a>
						<a href="#">79</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>